# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.Python

# Virtualenv
.venv/
venv/
ENV/

# Flask
instance/
.flaskenv

# Logs / caches
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.pid
